* {
    margin: auto;
}
.icon {
    text-align: center;
}
.title {
    text-align: center;
}
.lead {
    text-align: center;
}
#video-groups {
    width: 100%;
    max-width: 800px;
    height: auto;
    text-align: center;
}
.video {
    width: 100%;
    max-width: 800px;
    height: auto;
    text-align: center;
}
.video-player {
    width: 100%;
    max-width: 800px;
    height: auto;
    text-align: center;
}
.input-values {
    width: 100%;
    max-width: 800px;
    height: auto;
}
.mybtn {
    text-align: center;
}
.footer {
    text-align: center;
    color: darkgray;
}